body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:#F1F2F6;
    color:#272343;
    height: 100vh;
    box-sizing: content-box;
  
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .login-bg{
    background: url("https://dev-to-uploads.s3.amazonaws.com/uploads/articles/gnugqe1o6fsh4pcnrzmr.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0% 100%  ;
    height: 100%;
  }
  a:-webkit-any-link {
    color: inherit;
    text-decoration: none !important;

  }